<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>YiPy Notifications</title>
    <style>
        h3{
            font-family: 'Roboto', sans-serif;
        }
        li{
            list-style-type: none;
            font-family: "Roboto", sans-serif;
        }
        th{
            font-family: "Tahoma";
        }
    </style>

</head>
<body>
<h3>New Uploads</h3>
<ul>
    {% set ctr=0 %}
    {% for x in response %}
        {% if ctr is divisibleby 2 %}{% set color='#E6E6FA'%}{% else %}{% set color='#FFFFFF' %}{% endif %}
    <li>{{x['title']}}</li>
    {% set ctr = ctr+1 %}
    {% endfor %}
</ul>
</body>
</html>