<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>YiPy Notifications</title>
    <style>
        h3{
            font-family: 'Roboto', sans-serif;
        }
        li{
            font-family: "Roboto", sans-serif;
        }
        th{
            font-family: "Tahoma";
        }
        td{
            font-family: "Slabo 27px", serif;
        }
    </style>

</head>
<body>
<h3>New Uploads</h3>
<ul>
    {% set ctr=0 %}
    {% for x in response %}
        {% if ctr is divisibleby 2 %}{% set color='#E6E6FA'%}{% else %}{% set color='#FFFFFF' %}{% endif %}
    <li><b>{{x['cleantitle']}}</b></li>
    <table>
        <tr>
            <td>
                {{x['summary']}}
            </td>
        </tr>
    </table>
    <br><hr><br>
    {% set ctr = ctr+1 %}
    {% endfor %}
</ul>
</body>
</html>